@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply text-black-100;
        @apply bg-white;

        --transition-fast: 200ms;
        --transition-normal: 400ms;
        --transition-slow: 700ms;
    }
}

@layer components {
    .pseudo-cover {
        @apply after:absolute after:inset-0 after:content-[''];
    }
}
