@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply text-black;
        @apply bg-white;

        --container-gutter: 80px;
        --transition-fast: 200ms;
        --transition-normal: 400ms;
        --transition-slow: 700ms;
    }

    input[type='search']::-webkit-search-cancel-button {
        display: none;
    }
}

@layer components {
    .pseudo-cover {
        @apply after:absolute after:inset-0 after:content-[''];
    }
}
